*, ::before, ::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: #212121;
    color: #dfcece;
    font-family: Inter, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}